*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    margin-left: 100px;
    gap: 50px;
    margin-top: 10px;
     
}
a{
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
    color: black;
}
a:hover{
    text-decoration: underline;
    opacity: 0.7;
}
.out{
    margin-top: 30px;
    margin-left: 100px;
}

h1{
    color: green;

}

.contact{
    margin-top: 20px;
    color: red;
    font-size: 20px;
}
.number{
    margin-top: 30px;
    color: blue;
    font-size: 20px;
}

.dark{
    background-color: black;
}
.white{
    color: white;
}
.toggle{
    width: 100px;
    height: 30px;
    background-color: aqua;
    color: black;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}



